body {
    background-color: dimgray;
    overflow-x: hidden;
}

nav {
    background-color: black;
}

.navbar-brand {
    margin-left: 20px;
    border-radius: 10px;
}

.navbar-brand:hover {
    background-color: goldenrod;
}

.nav-item {
    cursor: pointer;
}

.nav-item .nav-link.active {
    background-color: gold;
    border: 1px solid gold;
    color: black;
}
.nav-pills .nav-link:not(.active) {
    border: 1px solid gold;
    color: gold;
}
.nav-pills .nav-link:hover {
    background-color: yellow;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.card {
    margin: 5px;
    border-radius: 10px;
    color: white;
}
.mon {
    background-color: chocolate;
}
.spell {
    background-color: green;
}
.trap {
    background-color: purple;
}
.synchro {
    background-color: whitesmoke;
    color: black;
}
.xyz {
    background-color: black;
}
.linkm {
    background-color: blue;
}

img {
    border-radius: 20px;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contentDiv {
    scroll-margin-top: 100px;
}

h3 {
    color: goldenrod;
}

hr {
    margin: 50px;
}
