body {
    background-color: #898385;
    overflow-x: hidden;
}

nav {
    background-color: #252523;
}

.navbar-brand {
    margin-left: 20px;
    border-radius: 10px;
}

.navbar-brand:hover {
    background-color: #f4de54;
}

.nav-item {
    cursor: pointer;
}

.nav-item .nav-link.active {
    background-color: #f4de54;
    border: 1px solid #f4de54;
    color: black;
}
.nav-pills .nav-link:not(.active) {
    border: 1px solid #dfd38b;
    color: #dfd38b;
}
.nav-pills .nav-link:hover {
    background-color: #f2d835;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.card {
    margin: 5px;
    border: 2px solid #252523;
    border-radius: 10px;
    color: white;
}
.mon {
    background-color: #c27145;
}
.spell {
    background-color: #159688;
}
.trap {
    background-color: #bb4889;
}
.fusion {
    background-color: #80479c;
}
.synchro {
    background-color: #f7f6f3;
    color: black;
}
.xyz {
    background-color: #12131a;
}
.linkm {
    background-color: #0070b3;
}

img {
    border-radius: 20px;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contentDiv {
    scroll-margin-top: 100px;
}

h3, h4 {
    color: #f4de54;
}

hr {
    margin: 50px;
}
